body {
  background-color: #FFFEE1;
  font-family: savate;
  font-size: 40px;
  text-decoration: none;
  color: #C7AEFF;
  margin-left: 75px;
  margin-top: 0px;
  /* cursor: url('musty.cur'), default; */

}
