body {
  margin:0;
  width:100vw;
  height:100vh;
}

.good {
display:flex;
flex-direction:column;
background:darkgreen;
width:100%;
height:100%;

}

.header, .footer {
height: 20%;
width: 100%;
background: red;

}

.content {
display: flex;
flex-direction: row;
height: 60%;
width:100%;
color:pink;
}

.side {
width:20%;
height:100%;
background: rgb(186, 238, 255);

}

.apple {
width:60%;
height:100%;
display: flex;
justify-content: center;
align-items:center;
/* background: yellow; */
transition:all 1s ease;
}

.popup {
width: 60%;
height:40%;
background:rgb(251, 255, 34);
position:fixed;
top:50%;
left:50%;
transform: translate(-50%, -50%);
text-align:center;
display:none;

}

p {
font-size: 10vw;
transition:all 1s ease;

}

@media screen and (max-width:800px) {
.content {
flex-direction: column;
}

.side {
width:100%;
height:20%;
}

.apple {
height: 60%;
width:100%;
}

.popup {
display:block;

}

p {
font-size: 5vw;

}

}
