body {
background-color: #FFF5CC;
width: 350px;
height:600px;
margin-left: 400px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
flex-flow: wrap;
top: 50%;
LEFT: 50%;

}

h3 {
  font-family: monospace;
  font-weight: bolder;
  font-size: 18px;
  color: #7563F7;

}

h5{
  font-family: monospace;
  font-size: 1px;
  color: #7563F7;
}

p {
  font-family: monospace;
  font-size: 11px;
  color: #7563F7;
}
