a {
  text-decoration: underline;
  color: black;
font-family: monospace;
}

.button {
position:fixed;
width: 100px;
height: 100px;
background: #F2E755;
display:flex;
justify-content: center;
align-items: center;
top:50%;
transform:translateY(-50%);
transition: background .5s ease,            height 2s ease;
}

.button:hover {
  background: #FFCFAE;
  height:50px;
}

.prev {
left: 0;
}

.next {
right:0;
}
