body {
    background-color: black;
    margin-left: 50px;
    border: 10px blue;
}

h1 {
   color: white;
   font-size: 15px;
   border: 10px blue;
}

h2 {
   color: white;
   font-size: 13px;
}

p {
   color: white;
   font-size: 10px;
}
